li {
  list-style-type: none;
  outline: none;
  border: none;
  box-shadow: none !important;
}
.button-listproject {
  background-color: transparent;
  outline: none;
  border: none;
  margin: 5px;
  cursor: pointer;
  color: rgba(33, 250, 144, 0.76);
  font-weight: bold;
}
