.task-shadow {
  width: 100%;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin: 5px;
  -webkit-box-shadow: 0px 1px 11px 1px rgba(0, 0, 0, 0.85) !important;
  box-shadow: 0px 1px 11px 1px rgba(0, 0, 0, 0.85) !important;
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.action-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin: 5px;
}
.completed {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: rgba(33, 250, 144, 0.76);
}
.incomplete {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
