:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
  --headingFont: 'Raleway', sans-serif;
  --textFont: 'Monospace', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}
body {
  min-height: 100%;
  background-color: var(--gris1);
  font-size: 16px;
  font-size: 1.6rem;
  font-family: var(--textFont);
}

@media (min-width: 768px) {
  .contenedor-app {
    display: flex;
    min-height: 100vh;
  }

  aside {
    background-color: var(--blanco);
    flex: 0 0 300px;
  }
  .seccion-principal {
    flex: 1;
  }
}

.alerta {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-family: var(--headingFont);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  .alerta {
    width: auto;
    top: 30px;
    right: 10px;
    left: auto;
  }
}

.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alerta-error {
  background-color: rgb(230, 78, 78);
  color: var(--blanco);
}
